[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"
pytest = ">=6.0.1"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = "*"
hypothesis = "*"
black = "*"
isort = ">=5.0.0"
flake8 = "*"
mypy = "*"
pylint = ">=2.7.0"
bandit = "*"
commitizen = "*"
pre-commit = "*"
mkdocs = "*"
mkdocs-material = ">=7.0.6"

[packages]
"discord.py" = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.8"

[dev-packages.coverage]
extras = [ "toml",]
version = "*"
